<html>
<body>
<h3>Hi ${activation.owner.userDisplayName},</h3>
<h4>Your account name is: ${activation.owner.username}</h4><br />
<p>Please click <a href="${serverUrl}/account/reset-password.jsf?userId=${activation.owner.id}&activeCode=${activation.activeCode}">here</a> to reset your password. Active code will be available for ${activeExpires} hours.
</p>
<p>
If you are not able to click above link, please visit "${serverUrl}/account/reset-password.jsf?userId=${activation.owner.id}&activeCode=${activation.activeCode}" from your browser to reset your password.
</p>
</body>
</html>