<html>
<body>
<h3>Hi ${activation.owner.displayName},</h3>
<h4>Welcome to the Gaofamily Call Center!</h4><br />
<p> You are not done yet, please click <a href="${serverUrl}/account/activation.jsf?userId=${activation.owner.id}&activeCode=${activation.activeCode}">here</a> to active your account.
</p>
<p>
If you are not able to click above link, please visit "${serverUrl}/account/activation.jsf?userId=${activation.owner.id}&activeCode=${activation.activeCode}" from your browser to active your account.
</p>
</body>
</html>